<mat-card class="example-card">
    <form class="form" [formGroup] ="loginForm" (ngSubmit)="profile()" #r="ngForm" >
      <h1>Log in</h1>
      <mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput placeholder="Email" formControlName="email"  id="email">
      </mat-form-field>
    <br>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="password" formControlName="password" id="password" >
      </mat-form-field>
      <br>
      <button class="button" (click)="profile()">login</button>
      <button class="button" (click)="signup()">signup</button>
    </form>
  </mat-card>